
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="search" type="text" class="ghost-input" placeholder="Search for NASA images" required>
          <input name="start_year" type="text" class="ghost-input" placeholder="Enter a start year YYYY" required>
          <input name="end_year" type="text" class="ghost-input" placeholder="Enter an end year YYYY" required>
          <input type="submit" class="ghost-button" value="Search">
        </form>
        <% if (images != null){ %>
          <h>Search results</h>
        <% } %>
        <table style="table-layout: fixed;px">

          <% if(images !== null){ %>
            <% for(i = 0; i < images.length; i++){ %>
              <% if(i % 3 == 0) { %>
                <tr>
              <% } %>
              <td style="width: 300px">
                <img src=<%= images[i].links[0].href %> height="210" width=210">
                <p>Title: <%= images[i].data[0].title %></p>
                <p>Date: <%= images[i].data[0].date_created %></p>
              </td>
              <% if(i % 3 == 2) { %>
                </tr>
              <% } %>
            <% } %>
          <% } %>

          <% if(error !== null){ %>
              <p><%= error %></p>
          <% } %>

        </table>
        <script type="text/javascript">
          document.getElementById("demo").innerHTML = x;
        </script>
      </fieldset>
    </div>
  </body>
</html>
